{% extends "base.html" %}
{% block head %}

<style>
    #add {
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index:3;
   }

   #b
     { position: absolute;
       right: 5px;
       bottom: 50%;
       zoom: 2;
        }

   .scale {
    width: calc(49% - 10px);
    height: auto;
   }
   #img_box
     { width: 40%;
       margin-left: 5px;
       margin-top: 5px;
       margin-bottom: 5px;

        }
    #sort_button
     {
    position:fixed;
    z-index:3;
    left: 50%;
    transform: translate(-50%) }

    #bbb
     { position: absolute;
       right: 5px;
       bottom: 5px;
        }
     .v {
    width: 100%;
   }

     #card
     { background-color: RGB(240, 240, 240);
        }

     #inf
     {
       margin-left: 5px;
       margin-bottom: 5px;
        }

     #text_box
     { width: 50%;
       height: 100%;
       margin-top: 5px
       margin-bottom: 5px
        }
     #text {
     position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%) }
</style>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}
{% block body %}


<body>
    {%if coins_list == []:%}
    <h3 id="text"> У вас нет новых монет для этого каталога </h3>
    {%else:%}
    <div class= 'dropdown show'  id='sort_button'>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" >сортировка: {{sort_type}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form method="POST">
                <input type="hidden" name='sort' value="по возрастанию цены">
                <button class="btn btn-outline-success v" type="submit"> по возрастанию цены</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по убыванию цены">
                <button class="btn btn-outline-success v" type="submit">по убыванию цены</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по возрастанию года">
                <button class="btn btn-outline-success v" type="submit">по возрастанию года</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по убыванию года">
                <button class="btn btn-outline-success v" type="submit">по убыванию года</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по стране">
                <button class="btn btn-outline-success v" type="submit">по стране</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по весу">
                <button class="btn btn-outline-success v" type="submit">по весу</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по диаметру">
                <button class="btn btn-outline-success v" type="submit">по диаметру</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по каталожному номеру">
                <button class="btn btn-outline-success v" type="submit">по каталожному номеру</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по периоду">
                <button class="btn btn-outline-success v" type="submit">по периоду</button>
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
            </form>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <form action="/catalog/" method="POST"  class="row">
                <input type="hidden" name="catalog_id" value = {{catalog_id}}>
                {% for coin in coins_list%}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow card" id="card">
                            <div class="form-inline">
                                <div id="img_box">
                                    <img src=/static/obverses/obverse_{{coin.coin_id}}.jpg class="img scale" alt="obverse image">
                                    <img src=/static/reverses/reverse_{{coin.coin_id}}.jpg class="img scale" alt="reverse image">
                                </div>
                                <div id = 'text_box'>
                                    <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td> {{coin.name}} </td>
                                        </tr>
                                        <tr>
                                            <td> {{coin.period}} </td>
                                        </tr>
                                        <tr>
                                            <td> Цена: {{coin.price}} рублей</td>
                                        </tr>
                                        <tr>
                                            <td> <a href=https://meshok.net/?search={{coin.name}} >Найти на аукционе</a> </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div>
                                    <input type="checkbox" id="b" name="check" value={{coin.coin_id}}>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-success btn-lg" type="submit" id="add">добавить</button>
            </form>
        </div>
    </div>
    {%endif%}
</body>
{% endblock %}