<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Delius"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lemon"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script type="text/javascript">
        function httpGet(theUrl) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false); // false for synchronous request
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }
        $(document).ready(function(){
            var w=$("#navigation").outerHeight();
            $("#content").css({"padding-top":w + 1});
        });
    </script>
    <style>
        #navigation{
        width: 100%;
        position: fixed;
        z-index:4;
        }

        .g {
            margin-right:10px;
            }
    </style>
    {% block head %}
    {% endblock %}
</head>
<title>{% block title %}{% endblock %}</title>
<body>
    {% if not current_user.get_id() %}
        <style>
            body {
            background-color: #c7b39b;
            }

            #jj {
            position:fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            }
        </style>
        <div class="jumbotron" align="center" id="jj">
            <a class="btn btn-primary" href="{{ url_for('login') }}">Войти</a>
            <a class="btn btn-primary" href="{{ url_for('register') }}" >Зарегистрироваться</a>
        </div>
    {% endif %}
    {% if current_user.get_id() %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark main_nav" id="navigation" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="btn btn-light g" onclick="window.location.href='{{ url_for('gallery')}}';"><i class="fas fa-home"></i> Галерея монет</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light g" onclick="window.location.href='{{ url_for('catalogs')}}';"><i class="fas fa-folder"></i> Каталоги</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light g" onclick="window.location.href='{{ url_for('statistics')}}';"><i class="fas fa-chart-line"></i> Статистика</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light g" onclick="window.location.href='{{ url_for('profile')}}';"><i class="fas fa-user"></i> Профиль</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
    {% endif %}

</body>
</html>