{% extends "base.html" %}
{% block head %}
<style>
    .add_coin_button {
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index:3;
   }
   .obverse_img {
    width: calc(50% - 4px);
    height: auto;
   }
   .reverse_img {
    width: calc(50% - 5px);
    height: auto;
   }

   #catalog_head{
   overflow-wrap: break-word
   }
   #inf
     {
       margin-left: 5px;
       margin-bottom: 5px;
        }

   #text_box
     { width: 50%;
       margin-top: 5px
       margin-bottom: 5px
        }
   #img_box
     { width: 40%;
       display: inline;
       margin-left: 5px;
       margin-top: 5px;
       margin-bottom: 5px;
        }
   #bbb
     { position: absolute;
       right: 5px;
       bottom: 5px;
        }

    #b
     { position: absolute;
       right: 5px;
       bottom: 50%;
        }

     #text_box
     { width: 50%;
       margin-top: 5px
       margin-bottom: 5px
        }
     #card
     { background-color: RGB(240, 240, 240);
        }
     #x {
    position: absolute;
    right: 5px;
    }
    #text {
     position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%) }

     #gg{
     margin-left:50%;
     transform: translate(-50%);
     }

     .v {
    width: 100%;
   }



</style>
{% endblock %}
{% block title %}
   Catalog
{% endblock %}
{% block body %}
<body>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Вы точно хотите удалит каталог {{catalog_name}} ?</h5>
                </div>

                <div class="modal-footer" >
                    <button type="button" class="btn btn-success" data-dismiss="modal">Отмена</button>
                    <form action="/delete_catalog/" method="POST">
                        <!-- скрытый параметр -->
                        <input type="hidden" name="catalog_id_to_delete" value = {{catalog_id}}>
                        <input type="submit" class="btn btn-danger" value="Удалить каталог">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="example1Modal2" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete3Label">{{catalog_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <form class="form-inline" action="/rename_catalog/" method="POST">
                        <input type="hidden" name="catalog_id_to_rename" value = {{catalog_id}}>
                        <input class="form-control mr-sm-2" placeholder="новое имя" aria-label="Search" name='new_name'>
                        <input type="submit" class="btn btn-success" value="Переименовать">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="form-inline" >
        <h3 id="gg"> {{catalog_name}}</h3>
        <div class="btn-group dropleft" id="x">
            <button id="set-btn" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
                <span class="fas fa-cog"></span>
            </button>
            <div class="dropdown-menu">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary v" data-toggle="modal" data-target="#example1Modal2">
                        Переименовать
                    </button>
                    <button type="button" class="btn btn-danger v" data-toggle="modal" data-target="#exampleModal1">
                        удалить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <form action="/add_coins/" method="POST">
        <input type="hidden" name="catalog_id" value = {{catalog_id}}>
        <input type="submit" class='btn btn-success btn-lg add_coin_button' value="Добавить монеты">
    </form>

    {%if catalog_coins_list == []:%}
    <h3 id="text"> Вы не добавили в этот каталог ни одной монеты </h3>
    {%else:%}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for coin in catalog_coins_list%}
                <div class="col-md-6">
                    <div>
                        <div class="card mb-4 box-shadow card" id="card" >
                            <div class="form-inline">
                                <div id="img_box">
                                    <img src=/static/obverses/obverse_{{coin[0].coin_id}}.jpg class="img obverse_img" alt="obverse image">
                                    <img src=/static/reverses/reverse_{{coin[0].coin_id}}.jpg class="img reverse_img" alt="reverse image">
                                </div>
                                <div id = 'text_box'>
                                    <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td> {{coin[0].name}} </td>
                                        </tr>
                                        <tr>
                                            <td> {{coin[0].period}} </td>
                                        </tr>
                                        <tr>
                                            <td> Цена: {{coin[0].price}} рублей</td>
                                        </tr>
                                        <tr>
                                            <td> <a href=https://meshok.net/?search={{coin[0].name}} >Найти на аукционе</a> </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div id="b">
                                    {%if coin[1].number == 0:%}
                                    <button style = "border-radius: 50%" class='btn btn-danger my-2 my-sm-0'> {{coin[1].number}}</button>
                                    {%elif coin[1].number == 1:%}
                                    <button style = "border-radius: 50%" class='btn btn-warning my-2 my-sm-0'> {{coin[1].number}}</button>
                                    {%else:%}
                                    <button style = "border-radius: 50%" class='btn btn-success my-2 my-sm-0'> {{coin[1].number}} </button>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="form-inline">
                                <form action="/coin_information/" method="POST">
                                    <!-- скрытый параметр -->
                                    <input type="hidden" name="coin_id" value = {{coin[0].coin_id}}>
                                    <input type="submit" class="btn btn-success" value="Посмотреть всю информацию" id="inf">
                                </form>
                                <form action="/delete_coin_from_catalog/" method="POST">
                                    <!-- скрытый параметр -->
                                    <input type="hidden" name="coin_id_to_del" value = {{coin[0].coin_id}}>
                                    <input type="hidden" name="catalog_id_from_del" value = {{catalog_id}}>
                                    <input type="hidden" name="group" value = {{group}}>
                                    <button style = "border-radius: 50%" id="bbb" type="submit" class="btn btn-outline-danger">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {%endif%}
    </div>
</body>
{% endblock %}