{% extends "base.html" %}
{% block head %}
<style>
   .modal1 {
    width: 70%;
     }

   .add_catalog_button {
   position: fixed; /* Фиксированное положение */
   right: 10px; /* Расстояние от правого края окна браузера */
   bottom: 15px; /* Расстояние сверху */
   }

   #catalog_button {
   width: 100%;
   background-color: RGB(240, 240, 240);
   }

   #center {
    position:fixed;
    z-index:3;
    background-color: RGB(250, 255, 255);
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid RGB(240, 240, 240);
   }

   #cb {
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 10px;
    border-right: 2px solid RGB(240, 240, 240);
   }

   #add_catalog_btn {
    margin-left: 50%;
    transform: translate(-50%)
   }

    .c
     {
      width: 100%;
     }

    #main {
    margin-top: 20px;
    }

   #gh {
    margin-right: 5px;
   }
   #text {
     position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%) }


</style>
{% endblock %}
{% block title %}
   Catalogs
{% endblock %}
{% block body %}
<body>
    <div class="modal fade" id="example1Modal2" tabindex="-1" role="dialog" aria-labelledby="example1ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete3Label">{{current_group}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <form class="form-inline" action="/rename_group/" method="POST">
                        <input type="hidden" name="group_to_rename" value = {{current_group}}>
                        <input class="form-control mr-sm-2" placeholder="новое имя" aria-label="Search" name='new_name'>
                        <input type="submit" class="btn btn-success" value="Переименовать">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {%if groups != []:%}
    <div class="form-inline" id="center" >
        {% for group in groups:%}
            {%if group == current_group:%}
                <div id="cb">
                    <a class="btn btn-success"  href="{{ url_for('catalogs', current_group = group)}}">{{group}} </a>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
                            <span class="fas fa-cog"></span>
                        </button>
                        <div class="dropdown-menu">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#example1Modal2">
                                Переименовать группу
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбрать другую группу
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for group in groups:%}
                    {%if group != current_group:%}
                        <a class='btn btn-outline-success c' id="gh" href="{{ url_for('catalogs', current_group = group)}}">{{group}}</a>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
    </div >

    <div class="album py-5 bg-light">
        <div class="container" id="main" >
            <div class="row">
                {% for catalog in catalog_list%}
                <div class="col-md-6">
                    <div>
                        <div class="card mb-4 box-shadow" >
                            <form action="/catalog/" method="POST">
                                <!-- скрытый параметр -->
                                <input type="hidden" name="catalog_id" value = {{catalog[0].catalog_id}}>
                                <button type="submit" class="btn btn-light btn-lg" id="catalog_button">
                                    <h3 > {{catalog[0].catalog_name}} </h3>
                                    {% if catalog[1] == 0 : %}
                                    <h3 class="badge badge-danger" > {{catalog[1]}} / {{catalog[2]}} </h3>
                                    {% else: %}
                                    {% if catalog[1] == catalog[2]: %}
                                    <h3 class="badge badge-success"> {{catalog[1]}} / {{catalog[2]}} </h3>
                                    {% else: %}
                                    <h3 class="badge badge-warning"> {{catalog[1]}} / {{catalog[2]}} </h3>
                                    {% endif %}
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {%else:%}
    <h3 id="text"> Вы пока не создали ни одного каталога </h3>
    {%endif%}
    <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Добавление каталога</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <p>Введите название новаго каталога</p>
                        <input required class="form-control mr-sm-2" type="search"
                               placeholder="назвние" aria-label="Search" name='catalog_name' autocomplete="off">
                        <hr>
                        <p>Выберите для него группу или создайте новую</p>
                        <input required list="group_var" class="form-control mr-sm-2" type="search"
                               placeholder="группа" aria-label="Search" name='catalog_group' autocomplete="off">
                        <hr>
                        <datalist id="group_var">
                            <option>Без группы</option>
                            {%for group in groups%}
                            {%if not group == 'Без группы':%}
                            <option>{{group}}</option>
                            {%endif%}
                            {%endfor%}
                        </datalist>
                        <button id='add_catalog_btn' class="btn btn-success my-2 my-sm-0" type="submit">Добавить каталог</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success  btn-lg add_catalog_button"  data-toggle="modal" data-target="#exampleModalScrollable">
        Новый каталог
    </button>
</body>
{% endblock %}