{% extends "base.html" %}
{% block head %}
<style>
    .add_coin_button {
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    bottom: 15px; /* Расстояние сверху */
   }
   .obverse_img {
    width: 30%;
    max-width:50 px;
    height: auto;
   }

   .table {
    margin:5px ;
   }
   .reverse_img {
    width: 30%;

    height: auto;
   }
</style>
{% endblock %}
{% block title %}
   Coin_Information
{% endblock %}
{% block body %}
<body>
    <h2 align="middle">{{coin.name}}</h2>
    <div align="middle">
        <img src=/static/obverses/obverse_{{coin.coin_id}}.jpg class="img-fluid obverse_img" alt="Responsive image">
        <img src=/static/reverses/reverse_{{coin.coin_id}}.jpg class="img-fluid reverse_img" alt="Responsive image">>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Параметр</th>
                <th scope="col">Значение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>цена</td>
                <td> {{coin.price}} рублей</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>серийный номер</td>
                <td> {{coin.krause_number}}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>страна</td>
                <td> {{coin.country}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>номинал</td>
                <td> {{coin.denomination}}</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>год</td>
                <td> {{coin.year}}</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>период</td>
                <td> {{coin.period}} </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>тип</td>
                <td> {{coin.coin_type}} </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>материал</td>
                <td> {{coin.composition}} </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>гурт</td>
                <td> {{coin.edge}} </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>форма</td>
                <td> {{coin.shape}} </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>отношение ав/рев</td>
                <td> {{coin.alignment}} </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>вес</td>
                <td> {{coin.weight}} грамм</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>диаметр</td>
                <td> {{coin.diameter}} миллиметров </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>толщина</td>
                <td> {{coin.thickness}} миллиметров</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>надпись на аверсе</td>
                <td> {{coin.obverse}} </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>надпись на реверсе</td>
                <td> {{coin.reverse}} </td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock %}