{% extends "base.html" %}
{% block head %}

<style>
    .add_coin_button {
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index:3;
   }
   .scale {
    width: calc(49% - 10px);
    height: auto;
   }
   .v {
    width: 100%;
   }
   #img_box
     { width: 40%;
       margin-left: 5px;
       margin-top: 5px;
       margin-bottom: 5px;

        }
    #sort_button
     {
        position:fixed;
        z-index:3;
        left: 50%;
        transform: translate(-50%) }

    #bbb
     { position: absolute;
       right: 5px;
       bottom: 5px;
        }

     #card
     { background-color: RGB(240, 240, 240);
        }
    #b
     { position: absolute;
       right: 5px;
       bottom: 50%;
        }

     #inf
     {
       margin-left: 5px;
       margin-bottom: 5px;
        }

     #text_box
     { width: 50%;
       height: 100%;
       margin-top: 5px
       margin-bottom: 5px
        }
     #text {
     position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%) }
</style>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}
{% block body %}


<body>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" ></h5>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-success" data-dismiss="modal">Отмена</button>
                    <form  action="/delete_coin/" method="POST">
                        <input type="hidden" name="coin_id" >
                        <button type="submit" class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#exampleModal1').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id')
            var recipient1 = button.data('name')
            var modal = $(this)
            modal.find('.modal-title').text('Вы точно хотите удалить ' + recipient1 + '?')
            modal.find('.modal-footer input').val(recipient)
        })
    </script>

    <!-- Modal -->
    <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete3Label">Добавление монет</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>По ссылке на конкретную монету</p>
                    <form class="form-inline" method="POST">
                        <input required class="form-control mr-sm-2" type="url" placeholder="ссылка на монету" aria-label="Search" name='coin_link'>
                        <button class="btn btn-success ssd" type="submit">Добавить монету</button>
                    </form>
                    <hr>
                    <p>По ссылке на галлерею монет</p>
                    <form class="form-inline" method="POST">
                        <input required class="form-control mr-sm-2" type="url" placeholder="ссылка на галлерею монет" aria-label="Search" name='collection_link'>
                        <button class="btn btn-success ssd" type="submit">Добавить коллекцию</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success  btn-lg add_coin_button"  data-toggle="modal" data-target="#exampleModalScrollable">
        Добавить Монеты в коллекцию
    </button>
    {%if coins_list == []:%}
    <h3 id="text"> Вы пока не добавили ни одной монеты в коллекцию </h3>
    {%else:%}
    <div class= 'dropdown show' id='sort_button'>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" >сортировка: {{sort_type}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form method="POST">
                <input type="hidden" name='sort' value="по возрастанию цены">
                <button class="btn btn-outline-success  v" type="submit"> по возрастанию цены</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по убыванию цены">
                <button class="btn btn-outline-success  v" type="submit">по убыванию цены</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по возрастанию года">
                <button class="btn btn-outline-success  v" type="submit">по возрастанию года</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по убыванию года">
                <button class="btn btn-outline-success  v" type="submit">по убыванию года</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по стране">
                <button class="btn btn-outline-success  v" type="submit">по стране</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по весу">
                <button class="btn btn-outline-success  v" type="submit">по весу</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по диаметру">
                <button class="btn btn-outline-success  v" type="submit">по диаметру</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по каталожному номеру">
                <button class="btn btn-outline-success  v" type="submit">по каталожному номеру</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="по периоду">
                <button class="btn btn-outline-success v" type="submit">по периоду</button>
            </form>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for coin in coins_list%}
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow card" id="card">
                        <div class="form-inline">
                            <div id="img_box">
                                <img src=/static/obverses/obverse_{{coin[0].coin_id}}.jpg class="img scale" alt="obverse image">
                                <img src=/static/reverses/reverse_{{coin[0].coin_id}}.jpg class="img scale" alt="reverse image">
                            </div>
                            <div id = 'text_box'>
                                <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td> {{coin[0].name}} </td>
                                    </tr>
                                    <tr>
                                        <td> {{coin[0].period}} </td>
                                    </tr>
                                    <tr>
                                        <td> Цена: {{coin[0].price}} рублей</td>
                                    </tr>
                                    <tr>
                                        <td> <a href=https://meshok.net/?search={{coin[0].name}} >Найти на аукционе</a> </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div>
                                <form action="/change_number/" method="POST" id="b">
                                    <!-- скрытый параметр -->
                                    <input style = "border-radius: 50%" type="hidden" name="coin_id_to_change_number" value = {{coin[0].coin_id}}>
                                    {%if coin[1].number == 0:%}
                                    <input style = "border-radius: 50%" type="submit" class='btn btn-danger my-2 my-sm-0' value= {{coin[1].number}}>
                                    {%elif coin[1].number == 1:%}
                                    <input style = "border-radius: 50%" type="submit" class='btn btn-warning my-2 my-sm-0' value= {{coin[1].number}}>
                                    {%else:%}
                                    <input style = "border-radius: 50%" type="submit" class='btn btn-success my-2 my-sm-0' value={{coin[1].number}}>
                                    {%endif%}
                                </form>
                            </div>
                        </div>
                        <div class="form-inline">
                            <form action="/coin_information/" method="POST">
                                <!-- скрытый параметр -->
                                <input type="hidden" name="coin_id" value = {{coin[0].coin_id}}>
                                <input type="submit" class="btn btn-success" id="inf" value="Посмотреть всю информацию">
                            </form>
                            <!-- Button trigger modal -->
                            <button style = "border-radius: 50%" id="bbb" type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#exampleModal1"
                                data-id={{coin[0].coin_id}}
                                data-name={{coin[0].name}}>
                                <span class="fas fa-trash-alt"></span>
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {%endif%}
    {% if change_number_mode == True:%}
    <script>
      $(document).ready(function() {
        $("#exampleModal").modal('show');
      });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>{{name_of_changing_coin}}</h5>
                </div>
                <div class="modal-body form-inline">
                    <form method="POST">
                        <p>В коллекции: </p>
                        <input type="hidden" name="coin_id_to_change_number_modal" value={{coin_id_to_change_number}}>
                        <input type="number" name="num" value={{previous_number}} min="0" max='99' step="1">
                        <input type="submit" class="btn btn-outline-success" value="OK">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif%}

</body>
{% endblock %}