{% extends "base.html" %}
{% block head %}
<style>

</style>
{% endblock %}
{% block title %}
    Index
{% endblock %}
{% block body %}
<a class="bttn white" href="{{ url_for('login') }}" role="button">Войти</a>
<a class="bttn white" href="{{ url_for('register') }}" role="button">Зарегистрироваться</a>
{% endblock %}