<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Delius"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lemon"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        body {
        background-color: #c7b39b;
        }
        #login_place {
        position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }

    </style>
</head>
<title>
    Login
</title>
<body>
    <div class="jumbotron"  id="login_place">
        {% if wrong_login %}
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label>Your login</label>
                <input class="form-control" placeholder="Login" type="login" name="username">
            </div>
            <div class="form-group">
                <a class="float-right"
                   href="https://geniusmarketing.me/lab/kak-razvit-pamyat-12-sekretov-kotorye-razbudyat-vashu-pamyat/">Forgot?</a>
                <label>Your password</label>
                <input class="form-control" placeholder="******" type="password" name="password">
            </div>
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-success"> Login</button>
            </div>
        </form>
        <div align="center" >
            <a class="bttn white" href="{{ url_for('register') }}{{ '?next=' + request.args.get('next') if request.args.get('next') else '' }}">Register</a>
        </div>
    </div>
</body>