{% extends 'base.html' %}
{% block title %}
    Not found
{% endblock %}

{% block body %}
    <h1>Not found</h1>
    <div class="jumbotron">
        This page does not exist or you don't have permission to view it
        <br/>
        <a class="bttn" href="{{ url_for('index') }}">Start page</a>
        <p>
            You may think that it is our mistake. It's not. You are the mistake.
        </p>
    </div>
{% endblock %}
