{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron2">
        <a class="dropdown btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            style="background-color: #fff; color: #000;"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for("settings") }}?next={{ request.path }}">Настройки</a>
            <a class="dropdown-item" href="{{ url_for("logout") }}">Выйти</a>
        </div>
    </div>
{% endblock %}
