<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Delius"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lemon"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        body {
        background-color: #c7b39b;
        }
        #reg_place {
        position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }

    </style>
</head>
<title>
    Register
</title>
<body>
    <div class="jumbotron" id="reg_place">
        <form method="post">
            {% if wrong_login %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> This username is already taken.
                </div>
            {% endif %}
            <div class="form-group">
                <label>Your name</label>
                <input class="form-control" placeholder="Name" name="full_name"/>
            </div>
            <div class="form-group">
                <label>Your login</label>
                <input class="form-control" placeholder="Login" type="login" name="username"/>
            </div>
            <div class="form-group">
                <label>Your password</label>
                <input class="form-control" placeholder="******" type="password" name="password"/>
            </div>
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-success"> Register</button>
            </div>
        </form>
    </div>
</body>
