{% extends 'base.html' %}
{% block title %}
   Settings
{% endblock %}
{% block body %}
    <h1>Settings</h1>
    <div class="jumbotron">
    <form method="post">
        <label for="name">Your name</label>
        <input name="name" id="name" value="{{ current_user.name }}"/>
        <br/>

        <label for="password">Password</label>
        <input name="password" id="password" type="password"/>
        <br/>
        <!-- todo: Password confirmation -->

        <input type="submit" class="bttn"/>
    </form>
    </div>
{% endblock %}
