{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {%for item in my_list.items():%}
      [{{item[0]|tojson }}, {{item[1]|tojson }}],
      {%endfor%}
    ]);

    var options = {
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
<style>
    #header
     { display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
     }

     #donutchart
       {
        z-index:1;
        height :700px;
       }
      .v {
       width: 100%;
       }
     .b
     {
      width: calc(26%);
      margin: 2.5px 5%;
     }
     .bс
     {
      width: calc(26%);
      margin: 2.5px 0px;
     }
     .c
     {
      width: 100%;
     }

     #sort_button
     {  z-index:2;
        margin: 2.5px;
        }
</style>
{% endblock %}
{% block title %}
    Statistic
{% endblock %}
{% block body %}
    <div id="header" class="border-dark ">
        {%if all_collection != 'None':%}
        <a class="btn btn-success b" href="{{ url_for('statistics', all_collection='True')}}">Вся коллекция</a>
        {%else:%}
        <a class="btn btn-outline-success b" href="{{ url_for('statistics', all_collection='True')}}">Вся коллекция</a>
        {%endif%}
        <div class="dropdown bс">
            {%if group != 'None':%}
            <button class="btn btn-success dropdown-toggle c" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Группа: {{group}}
            </button>
            {%else:%}
            <button class="btn btn-outline-success dropdown-toggle c" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Группа
            </button>
            {%endif%}
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                {%for group in groups:%}
                    <a class="dropdown-item" href="{{ url_for('statistics', group=group)}}">{{group}}</a>
                {%endfor%}
            </div>
        </div>
        <div class="dropdown b">
            {%if catalog_id != None:%}
            <button class="btn btn-success dropdown-toggle c" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Каталог: {{catalog_name}}
            </button>
            {%else:%}
            <button class="btn btn-outline-success dropdown-toggle c" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 Каталог
            </button>
            {%endif%}
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                {%for catalog in catalog_list:%}
                    <a class="dropdown-item" href="{{ url_for('statistics', catalog_id=catalog.catalog_id)}}">{{catalog.catalog_name}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
    <hr>
    <h4 align="middle">Всего монет: {{num}},  Общая цена: {{total_price}} рублей</h4>
    <div align="middle" class='dropdown show' id='sort_button'>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" > Параметр сортировки
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <form method="POST">
                <input type="hidden" name='sort' value="country">
                <button class="btn btn-outline-success v" type="submit">По стране</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="denomination">
                <button class="btn btn-outline-success v" type="submit">По номиналу</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="year">
                <button class="btn btn-outline-success v" type="submit">По году</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="period">
                <button class="btn btn-outline-success v" type="submit">по периоду</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="shape">
                <button class="btn btn-outline-success v" type="submit">По форме</button>
            </form>
            <form method="POST">
                <input type="hidden" name='sort' value="diameter">
                <button class="btn btn-outline-success v" type="submit">По диаметру</button>
            </form>
        </div>
    </div>
    <div id="donutchart"></div>
    <hr>
{% endblock %}
